body{
      font-family: "Press Start 2P", system-ui;
      /* font-weight: 56; */
      background-color: black;
      color:greenyellow
}

a {
    color: lightgray;
}
a:hover{
    color: rgb(91, 91, 194);
}

body::selection{
    background-color: rgb(31, 251, 23);
    color: black;
}

.main-intro {

    color:DodgerBlue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav-bar{
    background-color: rgb(42, 42, 42);
    padding: 6px;
    border-radius: 16px;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 10px;
}

li {
    padding: 3px;
    display: inline-block;
}